<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetActivite</servlet-name>
        <servlet-class>controller.GetActivite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetType</servlet-name>
        <servlet-class>controller.GetType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutBouquet</servlet-name>
        <servlet-class>controller.AjoutBouquet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutActivite</servlet-name>
        <servlet-class>controller.AjoutActivite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetActiviteBouquet</servlet-name>
        <servlet-class>controller.GetActiviteBouquet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBouquet</servlet-name>
        <servlet-class>controller.GetBouquet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertionVoyage</servlet-name>
        <servlet-class>controller.InsertionVoyage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVoyage</servlet-name>
        <servlet-class>controller.GetVoyage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetActivite</servlet-name>
        <url-pattern>/GetActivite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetType</servlet-name>
        <url-pattern>/GetType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutBouquet</servlet-name>
        <url-pattern>/AjoutBouquet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutActivite</servlet-name>
        <url-pattern>/AjoutActivite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActiviteBouquet</servlet-name>
        <url-pattern>/GetActiviteBouquet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBouquet</servlet-name>
        <url-pattern>/GetBouquet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertionVoyage</servlet-name>
        <url-pattern>/InsertionVoyage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVoyage</servlet-name>
        <url-pattern>/GetVoyage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
